.waiting {
    color: #ffffff;
    font-size: 1.5rem;
    padding-top: 0.5rem;
  }
  
  .background-lindas {
    --background: #df553f;
  }
  
  .toolbar-lindas {
    --color: #ffffff;
    --background: #df553f;
  }
  