// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #c9df3f;
  --ion-color-primary-rgb: 201, 223, 63;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #95ad00;
  --ion-color-primary-tint: #ffff73;

  /** secondary **/
  --ion-color-secondary: #f0f2e2;
  --ion-color-secondary-rgb: 240, 242, 226;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #565d2a;
  --ion-color-secondary-tint: #bfc883;

  /** tertiary **/
  --ion-color-tertiary: #79df3f;
  --ion-color-tertiary-rgb: 121,223,63;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #aeff72;
  --ion-color-tertiary-tint: #41ac00;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  --ion-color-sombra: #95ad00;
  --ion-color-sombra-rgb: 149,173,0;
  --ion-color-sombra-contrast: #000000;
  --ion-color-sombra-contrast-rgb: 0,0,0;
  --ion-color-sombra-shade: #839800;
  --ion-color-sombra-tint: #a0b51a;

  --ion-color-tinte: #ffff73;
  --ion-color-tinte-rgb: 255,255,115;
  --ion-color-tinte-contrast: #000000;
  --ion-color-tinte-contrast-rgb: 0,0,0;
  --ion-color-tinte-shade: #e0e065;
  --ion-color-tinte-tint: #ffff81;
  
  --ion-color-rojizo: #df553f;
  --ion-color-rojizo-rgb: 223,85,63;
  --ion-color-rojizo-contrast: #ffffff;
  --ion-color-rojizo-contrast-rgb: 255,255,255;
  --ion-color-rojizo-shade: #c44b37;
  --ion-color-rojizo-tint: #e26652;

  /** Celestito **/
  --ion-color-celestito: #3fc9df;
  --ion-color-celestito-rgb: 63,201,223;
  --ion-color-celestito-contrast: #000000;
  --ion-color-celestito-contrast-rgb: 0,0,0;
  --ion-color-celestito-shade: #37b1c4;
  --ion-color-celestito-tint: #52cee2;

  --ion-color-naraju: #dfa53f;
  --ion-color-naraju-rgb: 223,165,63;
  --ion-color-naraju-contrast: #000000;
  --ion-color-naraju-contrast-rgb: 0,0,0;
  --ion-color-naraju-shade: #c49137;
  --ion-color-naraju-tint: #e2ae52;

  --ion-color-pasto: #79df3f;
  --ion-color-pasto-rgb: 121,223,63;
  --ion-color-pasto-contrast: #000000;
  --ion-color-pasto-contrast-rgb: 0,0,0;
  --ion-color-pasto-shade: #6ac437;
  --ion-color-pasto-tint: #86e252;

  --ion-color-violeta: #553fdf;
  --ion-color-violeta-rgb: 85,63,223;
  --ion-color-violeta-contrast: #ffffff;
  --ion-color-violeta-contrast-rgb: 255,255,255;
  --ion-color-violeta-shade: #4b37c4;
  --ion-color-violeta-tint: #6652e2;
}


.ion-color-sombra {
  --ion-color-base: var(--ion-color-sombra);
  --ion-color-base-rgb: var(--ion-color-sombra-rgb);
  --ion-color-contrast: var(--ion-color-sombra-contrast);
  --ion-color-contrast-rgb: var(--ion-color-sombra-contrast-rgb);
  --ion-color-shade: var(--ion-color-sombra-shade);
  --ion-color-tint: var(--ion-color-sombra-tint);
}
.ion-color-tinte {
  --ion-color-base: var(--ion-color-tinte);
  --ion-color-base-rgb: var(--ion-color-tinte-rgb);
  --ion-color-contrast: var(--ion-color-tinte-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tinte-contrast-rgb);
  --ion-color-shade: var(--ion-color-tinte-shade);
  --ion-color-tint: var(--ion-color-tinte-tint);
}

.ion-color-rojizo {
  --ion-color-base: var(--ion-color-rojizo);
  --ion-color-base-rgb: var(--ion-color-rojizo-rgb);
  --ion-color-contrast: var(--ion-color-rojizo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojizo-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojizo-shade);
  --ion-color-tint: var(--ion-color-rojizo-tint);
  
}

.ion-color-celestito {
  --ion-color-base: var(--ion-color-celestito);
  --ion-color-base-rgb: var(--ion-color-celestito-rgb);
  --ion-color-contrast: var(--ion-color-celestito-contrast);
  --ion-color-contrast-rgb: var(--ion-color-celestito-contrast-rgb);
  --ion-color-shade: var(--ion-color-celestito-shade);
  --ion-color-tint: var(--ion-color-celestito-tint);
}

.ion-color-naraju {
  --ion-color-base: var(--ion-color-naraju);
  --ion-color-base-rgb: var(--ion-color-naraju-rgb);
  --ion-color-contrast: var(--ion-color-naraju-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naraju-contrast-rgb);
  --ion-color-shade: var(--ion-color-naraju-shade);
  --ion-color-tint: var(--ion-color-naraju-tint);
}

.ion-color-pasto {
  --ion-color-base: var(--ion-color-pasto);
  --ion-color-base-rgb: var(--ion-color-pasto-rgb);
  --ion-color-contrast: var(--ion-color-pasto-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pasto-contrast-rgb);
  --ion-color-shade: var(--ion-color-pasto-shade);
  --ion-color-tint: var(--ion-color-pasto-tint);
}

.ion-color-violeta {
  --ion-color-base: var(--ion-color-violeta);
  --ion-color-base-rgb: var(--ion-color-violeta-rgb);
  --ion-color-contrast: var(--ion-color-violeta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-violeta-contrast-rgb);
  --ion-color-shade: var(--ion-color-violeta-shade);
  --ion-color-tint: var(--ion-color-violeta-tint);
}
